$color-midnight: rgba(40, 44, 52, 1);
$color-deep-blue: #264653;
$color-sea-green: #2a9d8f;
$color-yellow: #e9c46a;
$color-orange: #f4a261;
$color-red: #e76f51;
$color-white-50: rgba(255, 255, 255, 0.5);
$color-white: white;
