@import "../styles/colors";

.tile {
  background: rgba(255, 255, 255, 0.3) !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: none !important;
  border-radius: 1em !important;
}

.tile-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
  color: $color-midnight;
}

p {
  font-size: 1em;
}

.shape {
  position: absolute;
  width: 150px;
  top: 35rem;
  left: 0.5rem;
}
