.tile {
  color: rgb(26, 19, 92);
  background: rgba(255, 255, 255, 0.3) !important;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  /* background: linear-gradient(
    199deg,
    rgba(240, 240, 240, 0.5) 0%,
    rgba(240, 240, 240, 0.2) 67%
  ) !important; */
  border: none !important;
  border-radius: 1em !important;

  min-width: 100px;
  max-width: 300px;
  /* box-shadow: 2px 1px 10px #2e3b4d49; */
}

.tile-title {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-size: 2rem;
}

p {
  font-size: 1em;
}
.shape {
  position: absolute;
  width: 150px;
  top: 35rem;
  left: 0.5rem;
}
